h2 {
    font-family: 'Lobster', cursive;
}

footer{
    text-align: center;
    background-color: lightgray;
    padding: 10px;
    margin-top: 100px;
}
#imagen {
    box-shadow: 0px 0px 10px 2px black;
    border-radius: 200%;
    margin-right: 20px;
}
nav{
    background-color: red !important;
    border-radius: 0px;
}
span:last-child{
    font-size: 18px;
}
#pokeFoto{
    border: solid;
}
#caja1,#caja2, #caja1 #caja2 p span{
    margin: 0 !important;
    padding: 0 !important;
    text-align: left;
    font-size: 15px;
    padding: 0px;
}
#titulo{
    font-size: 17px;
    margin-left: 20%;
}
#cuadro{
    height: 150px;
    overflow-y: scroll;
}